<p>name-card works!</p>

<div class="name-card">
  <div class="name-card__content-left">
    <img src="https://1.bp.blogspot.com/-ouG8u1-19Ps/XoBSaVcra5I/AAAAAAAAaZ4/zEGD-P_nbC4BOn-NzWr282-SiBHn9DhhgCLcBGAsYHQ/s1600/Hinh-anh-con-gai-cute-de-thuong%2B%252827%2529.jpg" alt="Logo" class="name-car__avatar">
  </div>
  <div class="name-card__content-right">
    <h3 class="name-card__heading">{{cardName}}</h3>
    <p class="name-card__text">{{ email }}</p>
    <p class="name-card__text">{{ phone }}</p>
  </div>
</div>
